.charts-content {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  max-width: 1440px;
  margin: auto;
}

.charts-content .charts-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #37353F;
  padding-top: 20px;
  padding-bottom: 20px;
}

.charts-content .chart-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.charts-content .chart-row .chart-box {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.charts-content .chart-row .chart-box.full-width {
  width: 100%;
}

.charts-content .chart-row .chart-box.width-50 {
  width: calc(50% - 10px);
}

.charts-content .chart-row .chart-box.width-33 {
  width: calc(33% - 10px);
}

.charts-content .chart-row .chart-box .chart-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  padding-bottom: 10px;
}

.charts-content .chart-row .chart-box .chart-content .bold {
  font-weight: bold;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line {
  padding-top: 10px;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item {
  padding-bottom: 20px;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item:nth-child(1) .line .line-active {
  background: #EE9382;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item:nth-child(2) .line .line-active {
  background: #009FEF;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item:nth-child(3) .line .line-active {
  background: #00C67B;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item .labels {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5px;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item .labels .name,
.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item .labels .values {
  font-family: "Montserrat";
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item .line {
  position: relative;
  width: 100%;
  background: #F0F0F0;
  border-radius: 5px;
  height: 5px;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item .line .line-active {
  position: absolute;
  top: -1px;
  bottom: -1px;
  height: 7px;
  border-radius: 5px;
  background: #595959;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.radialbarmultiple {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.radialbarmultiple svg {
  max-width: 100%;
}

.radialbarmultiple .legend {
  padding-left: 10px;
  padding-right: 10px;
}

.radialbarmultiple .legend .legend-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.radialbarmultiple .legend .legend-list .legend-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15px;
}

.radialbarmultiple .legend .legend-list .legend-row .legend-value {
  min-width: 90px;
  background: #7E80D7;
  border-radius: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  padding: 5px 7px;
}

.radialbarmultiple .legend .legend-list .legend-row .legend-label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  padding-left: 10px;
}

.varticalbar .varticalbarChart {
  width: 100%;
}

.varticalbar .varticalbarChart .barlist {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.varticalbar .varticalbarChart .barlist .baritem {
  max-width: calc(100%/5);
  width: calc(100%/5);
}

.varticalbar .varticalbarChart .barlist .baritem .barcol {
  background-position: bottom;
  -webkit-background-size: 100% 10%;
          background-size: 100% 10%;
  min-height: 200px;
  position: relative;
}

.varticalbar .varticalbarChart .barlist .baritem .barcol .barcolFill {
  position: absolute;
  background-color: #FE8F8F;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 60%;
  top: 90%;
  margin: auto;
}

.varticalbar .varticalbarChart .barlist .baritem .barcol .value {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  width: 60%;
  margin: auto;
}

.varticalbar .varticalbarChart .barlist .baritem .label {
  border-top: 1px solid #F3F3F3;
  height: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  color: #000000;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
}

.radia-bar-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.radia-bar-container svg {
  margin: auto;
}

.dougnat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dougnat.smalllegend .chart {
  width: calc(100% - 90px);
}

.dougnat.smalllegend .chart > div {
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.dougnat.smalllegend .legend {
  width: 90px;
  margin: 0px;
}

.dougnat.smalllegend .legend .legend-list .legend-item {
  padding-bottom: 13px;
}

.dougnat.smalllegend .legend .legend-list .legend-item .col-square {
  padding: 0px !important;
}

.dougnat.smalllegend .legend .legend-list .legend-item .col-label {
  width: calc(100% - 20px);
  min-width: calc(100% - 20px);
  padding: 0px !important;
  padding-left: 10px !important;
}

.dougnat .chart {
  width: 50%;
}

.dougnat .chart > div {
  width: 250px;
  height: 250px;
  max-width: 100%;
}

.dougnat .chart > div.addShadow path:hover {
  -webkit-filter: url(#boxshadow);
          filter: url(#boxshadow);
}

.dougnat .chart > div svg {
  max-width: 100%;
}

.dougnat .legend {
  width: 50%;
  margin-right: -20px;
}

.dougnat .legend .legend-list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dougnat .legend .legend-list .legend-item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dougnat .legend .legend-list .legend-item .col-square {
  min-width: 20px;
  max-width: 20px;
}

.dougnat .legend .legend-list .legend-item .col-square .square {
  width: 15px;
  height: 15px;
  background: #A9DDD6;
  margin: auto;
}

.dougnat .legend .legend-list .legend-item .col-label {
  width: calc(100% - 60px);
  min-width: calc(100% - 60px);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #605A5A;
  padding-left: 10px;
}

.dougnat .legend .legend-list .legend-item .col-value {
  min-width: 40px;
  width: 40px;
  padding: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #4F4141;
  background: #FDF9F9;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}

.dougnat .legend .legend-list .legend-item:first-child .col-value,
.dougnat .legend .legend-list .legend-item:first-child .col-label,
.dougnat .legend .legend-list .legend-item:first-child .col-square {
  padding-top: 20px;
}

.dougnat .legend .legend-list .legend-item:last-child .col-value,
.dougnat .legend .legend-list .legend-item:last-child .col-label,
.dougnat .legend .legend-list .legend-item:last-child .col-square {
  padding-bottom: 20px;
}

.doughnutTip {
  background: #F1F1F0;
  mix-blend-mode: normal;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 7px 5px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #777676;
  position: absolute;
  pointer-events: none;
}

.doughnutTipExpand,
.pyraamidTip {
  background: rgba(201, 201, 201, 0.7);
  border-radius: 4px;
  padding: 7px 5px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  position: absolute;
  pointer-events: none;
}

.doughnutTipExpand::after,
.pyraamidTip::after {
  content: "";
  position: absolute;
  left: calc(50% - 2.5px);
  top: 100%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(201, 201, 201, 0.7);
  clear: both;
}

.doughnutTipExpand .tip-cont,
.pyraamidTip .tip-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.doughnutTipExpand .tip-cont .label,
.pyraamidTip .tip-cont .label {
  padding-bottom: 3px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #FFFFFF;
}

.doughnutTipExpand .tip-cont .value,
.pyraamidTip .tip-cont .value {
  padding-top: 3px;
}

.pieChart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pieChart .chart {
  width: 50%;
}

.pieChart .chart > div {
  width: 250px;
  height: 250px;
  max-width: 100%;
}

.pieChart .chart > div svg {
  max-width: 100%;
}

.pieChart .chart > div svg .groupTextSegment {
  pointer-events: none;
}

.pieChart .chart > div svg .textSegment {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.pieChart .chart > div svg .textSegment.active {
  opacity: 1;
}

.pieChart .chart > div svg .pieSegmentGroup .percent-text {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.pieChart .chart > div svg .pieSegmentGroup:hover .percent-text {
  opacity: 1;
}

.pieChart .legend {
  width: 50%;
  margin-right: -20px;
}

.pieChart .legend .legend-list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pieChart .legend .legend-list .legend-item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pieChart .legend .legend-list .legend-item .col-square {
  min-width: 20px;
  max-width: 20px;
}

.pieChart .legend .legend-list .legend-item .col-square .square {
  width: 15px;
  height: 15px;
  background: #A9DDD6;
  margin: auto;
}

.pieChart .legend .legend-list .legend-item .col-label {
  width: calc(100% - 60px);
  min-width: calc(100% - 60px);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #605A5A;
  padding-left: 10px;
}

.pieChart .legend .legend-list .legend-item .col-value {
  min-width: 40px;
  width: 40px;
  padding: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #4F4141;
  background: #FDF9F9;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}

.pieChart .legend .legend-list .legend-item:first-child .col-value,
.pieChart .legend .legend-list .legend-item:first-child .col-label,
.pieChart .legend .legend-list .legend-item:first-child .col-square {
  padding-top: 20px;
}

.pieChart .legend .legend-list .legend-item:last-child .col-value,
.pieChart .legend .legend-list .legend-item:last-child .col-label,
.pieChart .legend .legend-list .legend-item:last-child .col-square {
  padding-bottom: 20px;
}

.pieRound {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pieRound.smalllegend .chart {
  width: calc(100% - 90px);
}

.pieRound.smalllegend .chart > div {
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.pieRound.smalllegend .legend {
  width: 50%;
  margin-right: -20px;
}

.pieRound.smalllegend .legend .legend-list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pieRound.smalllegend .legend .legend-list .legend-item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pieRound.smalllegend .legend .legend-list .legend-item .col-square {
  min-width: 20px;
  max-width: 20px;
}

.pieRound.smalllegend .legend .legend-list .legend-item .col-square .square {
  width: 15px;
  height: 15px;
  background: #A9DDD6;
  margin: auto;
}

.pieRound.smalllegend .legend .legend-list .legend-item .col-label {
  width: calc(100% - 60px);
  min-width: calc(100% - 60px);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #605A5A;
  padding-left: 10px;
}

.pieRound.smalllegend .legend .legend-list .legend-item .col-value {
  min-width: 40px;
  width: 40px;
  padding: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #4F4141;
  background: #FDF9F9;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}

.pieRound.smalllegend .legend .legend-list .legend-item:first-child .col-value,
.pieRound.smalllegend .legend .legend-list .legend-item:first-child .col-label,
.pieRound.smalllegend .legend .legend-list .legend-item:first-child .col-square {
  padding-top: 20px;
}

.pieRound.smalllegend .legend .legend-list .legend-item:last-child .col-value,
.pieRound.smalllegend .legend .legend-list .legend-item:last-child .col-label,
.pieRound.smalllegend .legend .legend-list .legend-item:last-child .col-square {
  padding-bottom: 20px;
}

.pieRound.smalllegend .legend {
  width: 90px;
  margin: 0px;
}

.pieRound.smalllegend .legend .legend-list .legend-item {
  padding-bottom: 13px;
}

.pieRound.smalllegend .legend .legend-list .legend-item .col-square {
  padding: 0px !important;
}

.pieRound.smalllegend .legend .legend-list .legend-item .col-label {
  width: calc(100% - 20px);
  min-width: calc(100% - 20px);
  padding: 0px !important;
  padding-left: 10px !important;
}

.pieRound .rounded path {
  stroke-linejoin: round;
}

.pieRound .chart {
  width: calc(100% - 100px);
}

.pieRound .chart .groupTextSegment {
  pointer-events: none;
}

.pieRound .chart .textSegment {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.pieRound .chart .textSegment.active {
  opacity: 1;
}

.pieRound .chart > div {
  width: 250px;
  height: 250px;
  max-width: 100%;
}

.pieRound .chart > div svg {
  max-width: 100%;
}

.pieTip {
  display: none !important;
}

.radialBar2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.radialBar2 .chart {
  width: calc(100% - 60px);
}

.radialBar2 .chart svg {
  max-width: 100%;
}

.radialBar2 .legend {
  width: 45px;
}

.radialBar2 .legend .legend-list .legend-row {
  padding-bottom: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.radialBar2 .legend .legend-list .legend-row .circle {
  width: 21px;
  height: 21px;
  border: 2px solid #B2FFDF;
  border-radius: 50%;
}

.radialBar2 .legend .legend-list .legend-row .value {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #898585;
  padding-left: 5px;
}

.radialTip {
  position: absolute;
  background: #C9C9C9;
  padding: 6px 7px;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;
  color: #FFFFFF;
  pointer-events: none;
}

.radialTip::after {
  content: "";
  position: absolute;
  left: calc(50% - 2.5px);
  top: 100%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #C9C9C9;
  clear: both;
}

.lineDotcont {
  padding-top: 20px;
}

.lineDotcont .lineDotlist .lineDotRow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lineDotcont .lineDotlist .lineDotRow .label {
  width: 45px;
  min-width: 45px;
  padding-right: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 8px;
  color: #898585;
  text-align: left;
}

.lineDotcont .lineDotlist .lineDotRow .line-col {
  width: calc(100% - 45px);
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #F3F3F3;
}

.lineDotcont .lineDotlist .lineDotRow .line-col .line {
  background: -webkit-gradient(linear, left top, right top, from(#FD2679), to(#FFD1E2));
  background: -webkit-linear-gradient(left, #FD2679 0%, #FFD1E2 100%);
  background: -o-linear-gradient(left, #FD2679 0%, #FFD1E2 100%);
  background: linear-gradient(90deg, #FD2679 0%, #FFD1E2 100%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  height: 6px;
  position: relative;
}

.lineDotcont .lineDotlist .lineDotRow .line-col .line .dot {
  position: absolute;
  width: 14px;
  height: 14px;
  background: #FFFFFF;
  border: 3px solid #FFD1E2;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  top: -4px;
  left: calc(50% - 7px);
  z-index: 100;
}

.lineDotcont .lineDotlist .lineDotRow .line-col .line .dot:hover + .tooltip {
  opacity: 1;
  z-index: 150;
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.lineDotcont .lineDotlist .lineDotRow .line-col .line .tooltip {
  z-index: 50;
  width: 70px;
  position: absolute;
  background: #C9C9C9;
  padding: 6px 7px;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;
  color: #FFFFFF;
  text-align: center;
  top: -35px;
  left: calc(50% - 30px);
  opacity: 0;
}

.lineDotcont .lineDotlist .lineDotRow .line-col .line .tooltip::after {
  content: "";
  position: absolute;
  left: calc(50% - 2.5px);
  top: 100%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #C9C9C9;
  clear: both;
}

.lineDotcont .y-axis {
  margin-left: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
}

.lineDotcont .y-axis .axis-item {
  max-width: calc(100% / 9);
  width: auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;
  color: #898585;
  text-align: left;
}

.pyramid .chart {
  padding-top: 15px;
  border-bottom: 1px solid #E1DDDD;
}

.pyramid .chart > div {
  height: 180px;
  width: 100%;
  max-width: 280px;
  margin: auto;
  -webkit-filter: drop-shadow(-1px 6px 6px rgba(50, 50, 0, 0.3));
          filter: drop-shadow(-1px 6px 6px rgba(50, 50, 0, 0.3));
}

.pyramid .chart > div .pyramid-chart-slice {
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.pyramid .chart > div .pyramid-chart-slice:first-child {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pyramid .legend {
  width: 100%;
  padding-top: 15px;
}

.pyramid .legend .legend-list {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.pyramid .legend .legend-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7px;
}

.pyramid .legend .legend-item .square {
  width: 15px;
  height: 15px;
  background: #916AEA;
}

.pyramid .legend .legend-item .label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #605A5A;
  padding-left: 5px;
}

.varticalBarShadowList {
  padding-top: 20px;
  height: 240px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.varticalBarShadowList .vertical-item {
  width: 55px;
  max-width: 19%;
}

.varticalBarShadowList .vertical-item .vertical-bar {
  background: #F3F3F3;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 0px 0px;
  position: relative;
  height: calc(100% - 35px);
}

.varticalBarShadowList .vertical-item .vertical-bar .vertical-full {
  position: absolute;
  background: #ED874D;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 80%;
}

.varticalBarShadowList .vertical-item .vertical-bar .vertical-value {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  color: #FFFFFF;
  position: absolute;
  left: 2px;
  right: 2px;
  bottom: 3px;
  text-align: center;
}

.varticalBarShadowList .vertical-item .vertical-label {
  padding-top: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #605A5A;
  text-align: center;
}

.anket-box {
  background: #FEFDFD;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  padding: 10px 17px;
}

.anket-box .anket-row {
  padding-bottom: 25px;
}

.anket-box .anket-row .question {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #605A5A;
  padding-bottom: 13px;
}

.anket-box .anket-row .results {
  position: relative;
}

.anket-box .anket-row .results .line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  height: 18px;
  border-radius: 9px;
  overflow: hidden;
}

.anket-box .anket-row .results .line .result-1 {
  background-color: #A71E4E;
  height: 100%;
}

.anket-box .anket-row .results .line .result-2 {
  background-color: #F43469;
  height: 100%;
}

.anket-box .anket-row .results .line .result-3 {
  background-color: #FDD18F;
  height: 100%;
}

.anket-box .anket-row .results .line .result-4 {
  background-color: #74D977;
  height: 100%;
}

.anket-box .anket-row .results .line .result-5 {
  background-color: #5EAE61;
  height: 100%;
}

.anket-box .anket-row .results .tooltip {
  position: absolute;
  background: #251F3F;
  border-radius: 4px;
  padding: 15px 10px;
  width: 160px;
  pointer-events: none;
  display: none;
  z-index: 100;
}

.anket-box .anket-row .results .tooltip::before {
  content: "";
  position: absolute;
  top: calc(50% - 12px);
  left: -12px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #251F3F;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
  clear: both;
}

.anket-box .anket-row .results .tooltip.right::before {
  display: none;
}

.anket-box .anket-row .results .tooltip.right::after {
  content: "";
  position: absolute;
  top: calc(50% - 12px);
  right: -12px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #251F3F;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
  clear: both;
}

.anket-box .anket-row .results .tooltip .results-list {
  width: 100%;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid #3F4357;
}

.anket-box .anket-row .results .tooltip .results-list .results-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.anket-box .anket-row .results .tooltip .results-list .results-col .name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
}

.anket-box .anket-row .results .tooltip .results-list .results-col .name .circle-1 {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #A71E4E;
  margin-right: 7px;
}

.anket-box .anket-row .results .tooltip .results-list .results-col .name .circle-2 {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #F43469;
  margin-right: 7px;
}

.anket-box .anket-row .results .tooltip .results-list .results-col .name .circle-3 {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #FDD18F;
  margin-right: 7px;
}

.anket-box .anket-row .results .tooltip .results-list .results-col .name .circle-4 {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #74D977;
  margin-right: 7px;
}

.anket-box .anket-row .results .tooltip .results-list .results-col .name .circle-5 {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #5EAE61;
  margin-right: 7px;
}

.anket-box .anket-row .results .tooltip .results-list .results-col .value {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
}

.anket-box .anket-row .results .tooltip .results-all {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 9px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
}

@media screen and (max-width: 1100px) {
  .radialbarmultiple .legend .legend-list .legend-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .radialbarmultiple .legend .legend-list .legend-row .legend-label {
    padding-left: 0px;
    padding-top: 10px;
    white-space: nowrap;
  }
  .varticalbar .varticalbarChart .barlist .baritem .barcol .value,
  .varticalbar .varticalbarChart .barlist .baritem .label {
    font-size: 8px;
  }
}

@media screen and (max-width: 900px) {
  .charts-content .chart-row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .charts-content .chart-row .chart-box.width-50 {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .charts-content .chart-row .chart-box.width-50:last-child {
    margin-bottom: 0px;
  }
  .charts-content .chart-row .chart-box.width-33 {
    width: calc(50% - 10px);
  }
}

@media screen and (max-width: 768px) {
  .charts-content .chart-row .chart-box.width-33 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 500px) {
  .varticalBarShadowList .vertical-item {
    min-width: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .varticalBarShadowList .vertical-item:first-child {
    padding-left: 0px;
  }
  .varticalBarShadowList .vertical-item:last-child {
    padding-right: 0px;
  }
  .dougnat.smalllegend .chart {
    width: 100%;
  }
  .dougnat,
  .pieChart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dougnat .chart > div,
  .pieChart .chart > div {
    margin: auto;
  }
  .dougnat .chart,
  .dougnat .legend,
  .pieChart .chart,
  .pieChart .legend {
    width: 100%;
    margin: 0px;
  }
  .charts-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .radialbarmultiple {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .radialbarmultiple .legend {
    padding-top: 15px;
  }
  .varticalbar .varticalbarChart .barlist .baritem .barcol .barcolFill {
    width: 90%;
    min-width: 90%;
  }
  .radialbarmultiple .legend .legend-list .legend-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .radialbarmultiple .legend .legend-list .legend-row .legend-label {
    padding-left: 5px;
    padding-top: 0px;
  }
}
