$fontpage: 'Montserrat';
$fontcolor: #37353F;
$darkblue: #323242;
$voilet: #563BC2;
$blue: #4A52F7;

.charts-content {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    max-width: 1440px;
    margin: auto;
    .charts-header {
        font-family: $fontpage;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #37353F;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .chart-row {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-wrap: wrap;
        .chart-box {
            background: #FFFFFF;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
            border-radius: 2px;
            padding: 20px;
            margin-bottom: 20px;
            margin-left: 5px;
            margin-right: 5px;
            &.full-width {
                width: 100%;
            }
            &.width-50 {
                width: calc(50% - 10px);
            }
            &.width-33 {
                width: calc(33% - 10px);
            }
            .chart-header {
                font-family: $fontpage;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 15px;
                color: #000000;
                padding-bottom: 10px;
            }
            .chart-content {
                .bold {
                    font-weight: bold;
                }
                .horizonatal-line {
                    padding-top: 10px;
                    .item {
                        padding-bottom: 20px;
                        &:nth-child(1){
                            .line {
                                .line-active {
                                    background: #EE9382;
                                }
                            }
                        }
                        &:nth-child(2){
                            .line {
                                .line-active {
                                    background: #009FEF;
                                }
                            }
                        }
                        &:nth-child(3){
                            .line {
                                .line-active {
                                    background: #00C67B;
                                }
                            }
                        }
                        .labels {
                            display: flex;
                            align-items: stretch;
                            justify-content: space-between;
                            padding-bottom: 5px;
                            .name,
                            .values {
                                font-family: $fontpage;
                                font-size: 10px;
                                line-height: 12px;
                                color: #000000;
                            }
                        }
                        .line {
                            position: relative;
                            width: 100%;
                            background: #F0F0F0;
                            border-radius: 5px;
                            height: 5px;
                            .line-active {
                                position: absolute;
                                top: -1px;
                                bottom: -1px;
                                height: 7px;
                                border-radius: 5px;
                                background: #595959;
                                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                            }
                        }
                    }
                }
            }
        }
    }
}

.radialbarmultiple {
    display: flex;
    align-items: center;
    justify-content: space-around;
    svg {
        max-width: 100%;
    }
    .legend {
        padding-left: 10px;
        padding-right: 10px;
        .legend-list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            .legend-row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 15px;
                .legend-value {
                    min-width: 90px;
                    background: #7E80D7;
                    border-radius: 20px;
                    font-family: $fontpage;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 10px;
                    text-align: center;
                    color: #FFFFFF;
                    padding: 5px 7px;
                }
                .legend-label {
                    font-family: $fontpage;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 10px;
                    line-height: 12px;
                    color: #000000;
                    padding-left: 10px;
                }
            }
        }
    }
}
.varticalbar {
    .varticalbarChart {
        width: 100%;
        .barlist {
            display: flex;
            align-items: flex-end;
            justify-content: stretch;
            .baritem {
                max-width: calc(100%/5);
                width: calc(100%/5);
                .barcol {
                    background-position: bottom;
                    background-size: 100% 10%;
                    min-height: 200px;
                    position: relative;
                    .barcolFill {
                        position: absolute;
                        background-color: #FE8F8F;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                        bottom: 0px;
                        left: 0px;
                        right: 0px;
                        width: 60%;
                        top: 90%;
                        margin: auto;
                    }
                    .value {
                        font-family: $fontpage;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 10px;
                        line-height: 10px;
                        text-align: center;
                        color: #FFFFFF;
                        position: absolute;
                        bottom: 5px;
                        left: 5px;
                        right: 5px;
                        width: 60%;
                        margin: auto;
                    }
                }
                .label {
                    border-top: 1px solid #F3F3F3;
                    height: 20px;
                    font-family: $fontpage;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 10px;
                    line-height: 10px;
                    color: #000000;
                    text-align: center;
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-top: 15px;
                }
            }
        }
    }
}
.radia-bar-container {
    display: flex;
    align-items: center;
    svg {
        margin: auto;
    }
}
.dougnat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.smalllegend {
        .chart {
            width: calc(100% - 90px);
            & > div {
                margin: auto;
                display: flex;
                align-items: center;
            }
        }
        .legend {
            width: 90px;
            margin: 0px;
            .legend-list {
                .legend-item {
                    padding-bottom: 13px;
                    .col-square {
                        padding: 0px !important;
                    }
                    .col-label {
                        width: calc(100% - 20px);
                        min-width: calc(100% - 20px);
                        padding: 0px !important;
                        padding-left: 10px !important;
                    }
                }
            }
        }
    }
    .chart {
        width: 50%;
        & > div {
            width: 250px;
            height: 250px;
            max-width: 100%;
            &.addShadow {
                path:hover {
                    filter: url(#boxshadow);
                }
            }
            svg {
                max-width: 100%;
            }
        }
    }
    .legend {
        width: 50%;
        margin-right: -20px;
        .legend-list {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            .legend-item {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                .col-square {
                    min-width: 20px;
                    max-width: 20px;
                    .square {
                        width: 15px;
                        height: 15px;
                        background: #A9DDD6;
                        margin: auto;
                    }
                }
                .col-label {
                    width: calc(100% - 60px);
                    min-width: calc(100% - 60px);
                    font-family: $fontpage;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 15px;
                    color: #605A5A;
                    padding-left: 10px;
                }
                .col-value {
                    min-width: 40px;
                    width: 40px;
                    padding: 5px;
                    font-family: $fontpage;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 14px;
                    color: #4F4141;
                    background: #FDF9F9;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding-bottom: 15px;
                }
                &:first-child {
                    .col-value,
                    .col-label,
                    .col-square {
                        padding-top: 20px;
                    }
                }
                &:last-child {
                    .col-value,
                    .col-label,
                    .col-square {
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
}
.doughnutTip {
    background: #F1F1F0;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 7px 5px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #777676;
    position: absolute;
    pointer-events: none;
}
.doughnutTipExpand,
.pyraamidTip {
    background: rgba(201,201,201, 0.7);
    border-radius: 4px;
    padding: 7px 5px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    position: absolute; 
    pointer-events: none;
    &::after {
        content: "";
        position: absolute;
        left: calc(50% - 2.5px);
        top: 100%;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid rgba(201,201,201, 0.7);
        clear: both;
    }
    .tip-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        .label {
            padding-bottom: 3px;
            text-align: center;
            width: 100%;
            border-bottom: 1px solid #FFFFFF;
        }
        .value {
            padding-top: 3px;
        }
    }
}
.pieChart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .chart {
        width: 50%;
        & > div {
            width: 250px;
            height: 250px;
            max-width: 100%;
            svg {
                max-width: 100%;
                .groupTextSegment {
                    pointer-events: none;
                }
                .textSegment {
                    opacity: 0;
                    transition: opacity 0.3s ease-in;
                    &.active {
                        opacity: 1;
                    }
                }
                .pieSegmentGroup {
                    .percent-text {
                        opacity: 0;
                        transition: opacity 0.3s ease-in;
                    }
                    &:hover {
                        .percent-text {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .legend {
        width: 50%;
        margin-right: -20px;
        .legend-list {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            .legend-item {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                .col-square {
                    min-width: 20px;
                    max-width: 20px;
                    .square {
                        width: 15px;
                        height: 15px;
                        background: #A9DDD6;
                        margin: auto;
                    }
                }
                .col-label {
                    width: calc(100% - 60px);
                    min-width: calc(100% - 60px);
                    font-family: $fontpage;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 15px;
                    color: #605A5A;
                    padding-left: 10px;
                }
                .col-value {
                    min-width: 40px;
                    width: 40px;
                    padding: 5px;
                    font-family: $fontpage;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 14px;
                    color: #4F4141;
                    background: #FDF9F9;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding-bottom: 15px;
                }
                &:first-child {
                    .col-value,
                    .col-label,
                    .col-square {
                        padding-top: 20px;
                    }
                }
                &:last-child {
                    .col-value,
                    .col-label,
                    .col-square {
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
}
.pieRound {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.smalllegend {
        .chart {
            width: calc(100% - 90px);
            & > div {
                margin: auto;
                display: flex;
                align-items: center;
            }
        }
        .legend {
            width: 50%;
            margin-right: -20px;
            .legend-list {
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: column;
                .legend-item {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    .col-square {
                        min-width: 20px;
                        max-width: 20px;
                        .square {
                            width: 15px;
                            height: 15px;
                            background: #A9DDD6;
                            margin: auto;
                        }
                    }
                    .col-label {
                        width: calc(100% - 60px);
                        min-width: calc(100% - 60px);
                        font-family: $fontpage;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 15px;
                        color: #605A5A;
                        padding-left: 10px;
                    }
                    .col-value {
                        min-width: 40px;
                        width: 40px;
                        padding: 5px;
                        font-family: $fontpage;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 14px;
                        color: #4F4141;
                        background: #FDF9F9;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        padding-bottom: 15px;
                    }
                    &:first-child {
                        .col-value,
                        .col-label,
                        .col-square {
                            padding-top: 20px;
                        }
                    }
                    &:last-child {
                        .col-value,
                        .col-label,
                        .col-square {
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
        .legend {
            width: 90px;
            margin: 0px;
            .legend-list {
                .legend-item {
                    padding-bottom: 13px;
                    .col-square {
                        padding: 0px !important;
                    }
                    .col-label {
                        width: calc(100% - 20px);
                        min-width: calc(100% - 20px);
                        padding: 0px !important;
                        padding-left: 10px !important;
                    }
                }
            }
        }
    }
    .rounded {
        path {
            stroke-linejoin: round;
        }
    }
    .chart {
        width: calc(100% - 100px);
        .groupTextSegment {
            pointer-events: none;
        }
        .textSegment {
            opacity: 0;
            transition: opacity 0.3s ease-in;
            &.active {
                opacity: 1;
            }
        }
        & > div {
            width: 250px;
            height: 250px;
            max-width: 100%;
            svg {
                max-width: 100%;
            }
        }
    }
}
.pieTip {
    display: none !important;
}
.radialBar2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .chart {
        width: calc(100% - 60px);
        svg {
            max-width: 100%;
        }
    }
    .legend {
        width: 45px;
        .legend-list {
            .legend-row {
                padding-bottom: 4px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .circle {
                    width: 21px;
                    height: 21px;
                    border: 2px solid #B2FFDF;
                    border-radius: 50%;
                }
                .value {
                    font-family: $fontpage;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 15px;
                    color: #898585;
                    padding-left: 5px;
                }
            }
        }
    }
}
.radialTip {
    position: absolute;
    background: #C9C9C9;
    padding: 6px 7px;
    border-radius: 10px;
    font-family: $fontpage;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    color: #FFFFFF;
    pointer-events: none;
    &::after {
        content: "";
        position: absolute;
        left: calc(50% - 2.5px);
        top: 100%;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #C9C9C9;
        clear: both;
    }
}
.lineDotcont {
    padding-top: 20px;
    .lineDotlist {
        .lineDotRow {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .label {
                width: 45px;
                min-width: 45px;
                padding-right: 5px;
                font-family: $fontpage;
                font-style: normal;
                font-weight: 500;
                font-size: 8px;
                line-height: 8px;
                color: #898585;
                text-align: left;
            }
            .line-col {
                width: calc(100% - 45px);
                padding-top: 10px;
                padding-bottom: 10px;
                border-bottom: 1px solid #F3F3F3;
                .line {
                    background: linear-gradient(90deg, #FD2679 0%, #FFD1E2 100%);
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
                    height: 6px;
                    position: relative;
                    .dot {
                        position: absolute;
                        width: 14px;
                        height: 14px;
                        background: #FFFFFF;
                        border: 3px solid #FFD1E2;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                        border-radius: 50%;
                        top: -4px;
                        left: calc(50% - 7px);
                        z-index: 100;
                        &:hover {
                            & + .tooltip {
                                opacity: 1;
                                z-index: 150;
                                transition: opacity 0.3s ease-in;
                            }
                        }
                    }
                    .tooltip {
                        z-index: 50;
                        width: 70px;
                        position: absolute;
                        background: #C9C9C9;
                        padding: 6px 7px;
                        border-radius: 10px;
                        font-family: $fontpage;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 8px;
                        line-height: 10px;
                        color: #FFFFFF;
                        text-align: center;
                        top: -35px;
                        left: calc(50% - 30px);
                        opacity: 0;
                        &::after {
                            content: "";
                            position: absolute;
                            left: calc(50% - 2.5px);
                            top: 100%;
                            width: 0;
                            height: 0;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-top: 5px solid #C9C9C9;
                            clear: both;
                        }
                    }
                }
            }

        }
    }
    .y-axis {
        margin-left: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 5px;
        .axis-item {
            max-width: calc(100% / 9);
            width: auto;
            font-family: $fontpage;
            font-style: normal;
            font-weight: 500;
            font-size: 8px;
            line-height: 10px;
            color: #898585;
            text-align: left;
        }
    }
}
.pyramid {
    .chart {
        padding-top: 15px;
        border-bottom: 1px solid #E1DDDD;
        & > div {
            height: 180px;
            width: 100%;
            max-width: 280px;
            margin: auto;
            filter: drop-shadow(-1px 6px 6px rgba(50, 50, 0, 0.3));
            .pyramid-chart-slice {
                box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
                &:first-child {
                    box-shadow: none;
                }
            }
        }
    }
    .legend {
        width: 100%;
        padding-top: 15px;
        .legend-list {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center; 
            flex-wrap: wrap;
        }
        .legend-item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 7px;
            .square {
                width: 15px;
                height: 15px;
                background: #916AEA;
            }
            .label {
                font-family: $fontpage;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 15px;
                color: #605A5A;
                padding-left: 5px;
            }
        }
    }
}
.varticalBarShadowList {
    padding-top: 20px;
    height: 240px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    .vertical-item {
        width: 55px;
        max-width: 19%;
        .vertical-bar {
            background: #F3F3F3;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px 10px 0px 0px;
            position: relative;
            height: calc(100% - 35px);
            .vertical-full {
                position: absolute;
                background: #ED874D;
                left: 0px;
                right: 0px;
                bottom: 0px;
                top: 80%;
            }
            .vertical-value {
                font-family: $fontpage;
                font-style: normal;
                font-weight: 600;
                font-size: 8px;
                line-height: 10px;
                color: #FFFFFF;
                position: absolute;
                left: 2px;
                right: 2px;
                bottom: 3px;
                text-align: center;
            }
        }
        .vertical-label {
            padding-top: 10px;
            font-family: $fontpage;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 12px;
            color: #605A5A;
            text-align: center;
        }
    }
}
@media screen and (max-width: 1100px) {
    .radialbarmultiple .legend .legend-list .legend-row {
        flex-direction: column;
        .legend-label {
            padding-left: 0px;
            padding-top: 10px;
            white-space: nowrap;
        }
    }
    .varticalbar .varticalbarChart .barlist .baritem .barcol .value,
    .varticalbar .varticalbarChart .barlist .baritem .label {
        font-size: 8px;
    }
}
@media screen and (max-width: 900px) {
    .charts-content .chart-row {
        flex-wrap: wrap;
        .chart-box.width-50 {
            width: 100%;
            margin-bottom: 20px;
            margin-left: 0px;
            margin-right: 0px;    
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    .charts-content .chart-row .chart-box.width-33 {
        width: calc(50% - 10px);
    }
}
@media screen and (max-width: 768px) {
    .charts-content .chart-row .chart-box.width-33 {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media screen and (max-width: 500px) {
    .varticalBarShadowList .vertical-item {
        min-width: 20px;
        padding-left: 5px;
        padding-right: 5px;
        &:first-child {
            padding-left: 0px;
        }
        &:last-child {
            padding-right: 0px;
        }
    }
    .dougnat.smalllegend .chart {
        width: 100%;
    }
    .dougnat,
    .pieChart {
        flex-direction: column;
        .chart {
            & > div {
                margin: auto;
            }
        }
        .chart,
        .legend {
            width: 100%;
            margin: 0px;
        }
    }
    .charts-content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .radialbarmultiple {
        flex-direction: column;
    }
    .radialbarmultiple .legend {
        padding-top: 15px;
    }
    .varticalbar .varticalbarChart .barlist .baritem .barcol .barcolFill {
        width: 90%;
        min-width: 90%;
    }
    .radialbarmultiple .legend .legend-list .legend-row {
        flex-direction: row;
        .legend-label {
            padding-left: 5px;
            padding-top: 0px;
        }
    }
}