.charts-content {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  max-width: 1440px;
  margin: auto;
}

.charts-content .charts-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #37353F;
  padding-top: 20px;
  padding-bottom: 20px;
}

.charts-content .chart-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.charts-content .chart-row .chart-box {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.charts-content .chart-row .chart-box.full-width {
  width: 100%;
}

.charts-content .chart-row .chart-box.width-50 {
  width: calc(50% - 10px);
}

.charts-content .chart-row .chart-box.width-33 {
  width: calc(33% - 10px);
}

.charts-content .chart-row .chart-box .chart-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  padding-bottom: 10px;
}

.charts-content .chart-row .chart-box .chart-content .bold {
  font-weight: bold;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line {
  padding-top: 10px;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item {
  padding-bottom: 20px;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item:nth-child(1) .line .line-active {
  background: #EE9382;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item:nth-child(2) .line .line-active {
  background: #009FEF;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item:nth-child(3) .line .line-active {
  background: #00C67B;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item .labels {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5px;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item .labels .name,
.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item .labels .values {
  font-family: "Montserrat";
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item .line {
  position: relative;
  width: 100%;
  background: #F0F0F0;
  border-radius: 5px;
  height: 5px;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item .line .line-active {
  position: absolute;
  top: -1px;
  bottom: -1px;
  height: 7px;
  border-radius: 5px;
  background: #595959;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.radialbarmultiple {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.radialbarmultiple svg {
  max-width: 100%;
}

.radialbarmultiple .legend {
  padding-left: 10px;
  padding-right: 10px;
}

.radialbarmultiple .legend .legend-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.radialbarmultiple .legend .legend-list .legend-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15px;
}

.radialbarmultiple .legend .legend-list .legend-row .legend-value {
  min-width: 90px;
  background: #7E80D7;
  border-radius: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  padding: 5px 7px;
}

.radialbarmultiple .legend .legend-list .legend-row .legend-label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  padding-left: 10px;
}

.varticalbar .varticalbarChart {
  width: 100%;
}

.varticalbar .varticalbarChart .barlist {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.varticalbar .varticalbarChart .barlist .baritem {
  max-width: calc(100%/5);
  width: calc(100%/5);
}

.varticalbar .varticalbarChart .barlist .baritem .barcol {
  background-position: bottom;
  -webkit-background-size: 100% 10%;
          background-size: 100% 10%;
  min-height: 200px;
  position: relative;
}

.varticalbar .varticalbarChart .barlist .baritem .barcol .barcolFill {
  position: absolute;
  background-color: #FE8F8F;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 60%;
  top: 90%;
  margin: auto;
}

.varticalbar .varticalbarChart .barlist .baritem .barcol .value {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  width: 60%;
  margin: auto;
}

.varticalbar .varticalbarChart .barlist .baritem .label {
  border-top: 1px solid #F3F3F3;
  height: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  color: #000000;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
}

.dougnat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dougnat .chart {
  width: 50%;
}

.dougnat .chart > div {
  width: 250px;
  height: 250px;
  max-width: 100%;
}

.dougnat .chart > div svg {
  max-width: 100%;
}

.dougnat .legend {
  width: 50%;
  margin-right: -20px;
}

.dougnat .legend .legend-list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dougnat .legend .legend-list .legend-item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dougnat .legend .legend-list .legend-item .col-square {
  min-width: 20px;
  max-width: 20px;
}

.dougnat .legend .legend-list .legend-item .col-square .square {
  width: 15px;
  height: 15px;
  background: #A9DDD6;
  margin: auto;
}

.dougnat .legend .legend-list .legend-item .col-label {
  width: calc(100% - 60px);
  min-width: calc(100% - 60px);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #605A5A;
  padding-left: 10px;
}

.dougnat .legend .legend-list .legend-item .col-value {
  min-width: 40px;
  width: 40px;
  padding: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #4F4141;
  background: #FDF9F9;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}

.dougnat .legend .legend-list .legend-item:first-child .col-value,
.dougnat .legend .legend-list .legend-item:first-child .col-label,
.dougnat .legend .legend-list .legend-item:first-child .col-square {
  padding-top: 20px;
}

.dougnat .legend .legend-list .legend-item:last-child .col-value,
.dougnat .legend .legend-list .legend-item:last-child .col-label,
.dougnat .legend .legend-list .legend-item:last-child .col-square {
  padding-bottom: 20px;
}

.doughnutTip {
  background: #F1F1F0;
  mix-blend-mode: normal;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 7px 5px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #777676;
  position: absolute;
}

.pieChart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pieChart .chart {
  width: 50%;
}

.pieChart .chart > div {
  width: 250px;
  height: 250px;
  max-width: 100%;
}

.pieChart .chart > div svg {
  max-width: 100%;
}

.pieChart .chart > div svg .pieSegmentGroup .percent-text {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.pieChart .chart > div svg .pieSegmentGroup:hover .percent-text {
  opacity: 1;
}

.pieChart .legend {
  width: 50%;
  margin-right: -20px;
}

.pieChart .legend .legend-list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pieChart .legend .legend-list .legend-item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pieChart .legend .legend-list .legend-item .col-square {
  min-width: 20px;
  max-width: 20px;
}

.pieChart .legend .legend-list .legend-item .col-square .square {
  width: 15px;
  height: 15px;
  background: #A9DDD6;
  margin: auto;
}

.pieChart .legend .legend-list .legend-item .col-label {
  width: calc(100% - 60px);
  min-width: calc(100% - 60px);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #605A5A;
  padding-left: 10px;
}

.pieChart .legend .legend-list .legend-item .col-value {
  min-width: 40px;
  width: 40px;
  padding: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #4F4141;
  background: #FDF9F9;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}

.pieChart .legend .legend-list .legend-item:first-child .col-value,
.pieChart .legend .legend-list .legend-item:first-child .col-label,
.pieChart .legend .legend-list .legend-item:first-child .col-square {
  padding-top: 20px;
}

.pieChart .legend .legend-list .legend-item:last-child .col-value,
.pieChart .legend .legend-list .legend-item:last-child .col-label,
.pieChart .legend .legend-list .legend-item:last-child .col-square {
  padding-bottom: 20px;
}

.pieTip {
  display: none !important;
}

@media screen and (max-width: 1100px) {
  .radialbarmultiple .legend .legend-list .legend-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .radialbarmultiple .legend .legend-list .legend-row .legend-label {
    padding-left: 0px;
    padding-top: 10px;
    white-space: nowrap;
  }
  .varticalbar .varticalbarChart .barlist .baritem .barcol .value,
  .varticalbar .varticalbarChart .barlist .baritem .label {
    font-size: 8px;
  }
}

@media screen and (max-width: 900px) {
  .charts-content .chart-row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .charts-content .chart-row .chart-box.width-50 {
    width: 100%;
    margin-bottom: 20px;
  }
  .charts-content .chart-row .chart-box.width-50:last-child {
    margin-bottom: 0px;
  }
  .charts-content .chart-row .chart-box.width-33 {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .charts-content .chart-row .chart-box.width-33 {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .dougnat,
  .pieChart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dougnat .chart > div,
  .pieChart .chart > div {
    margin: auto;
  }
  .dougnat .chart,
  .dougnat .legend,
  .pieChart .chart,
  .pieChart .legend {
    width: 100%;
    margin: 0px;
  }
  .charts-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .radialbarmultiple {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .radialbarmultiple .legend {
    padding-top: 15px;
  }
  .varticalbar .varticalbarChart .barlist .baritem .barcol .barcolFill {
    width: 90%;
    min-width: 90%;
  }
  .radialbarmultiple .legend .legend-list .legend-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .radialbarmultiple .legend .legend-list .legend-row .legend-label {
    padding-left: 5px;
    padding-top: 0px;
  }
}
