.charts-content {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  max-width: 1440px;
  margin: auto;
}

.charts-content .charts-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #37353F;
  padding-top: 20px;
  padding-bottom: 20px;
}

.charts-content .chart-row {
  display: "Montserrat";
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

.charts-content .chart-row .chart-box {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 20px;
}

.charts-content .chart-row .chart-box.full-width {
  width: 100%;
}

.charts-content .chart-row .chart-box .chart-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  padding-bottom: 10px;
}

.charts-content .chart-row .chart-box .chart-content .bold {
  font-weight: bold;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line {
  padding-top: 10px;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item {
  padding-bottom: 20px;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item:nth-child(1) .line .line-active {
  background: #EE9382;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item:nth-child(2) .line .line-active {
  background: #009FEF;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item:nth-child(3) .line .line-active {
  background: #00C67B;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item .labels {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5px;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item .labels .name,
.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item .labels .values {
  font-family: "Montserrat";
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item .line {
  position: relative;
  width: 100%;
  background: #F0F0F0;
  border-radius: 5px;
  height: 5px;
}

.charts-content .chart-row .chart-box .chart-content .horizonatal-line .item .line .line-active {
  position: absolute;
  top: -1px;
  bottom: -1px;
  height: 7px;
  border-radius: 5px;
  background: #595959;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
