$fontpage: 'Roboto', sans-serif;
$Monserat: 'Montserrat-Regular';
$darkblue: #323242;
$fontcolor: #37353F;
$voilet: #563BC2;
$blue: #4A52F7;

@import url("../font/Montserrat/stylesheet.css");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  
  /* HTML5 display-role reset for older browsers */
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  
  body {
    line-height: 1; }
  
  ol, ul {
    list-style: none; }
  
  blockquote, q {
    quotes: none; }
  
  blockquote {
    &:before, &:after {
      content: '';
      content: none; } }
  
  q {
    &:before, &:after {
      content: '';
      content: none; } }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }
* {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 0px 2px 2px 0px;
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #4449DB;
    }
}
.login-page {
    width: 100%;
    min-height: 100vh;
    background-color: $darkblue;
    font-family: $fontpage;
    padding: 35px 45px;
    .logo {
        width: 100px;
        height: 30px;
        display: none;//template-hidden
        img {
            max-width: 100%;
        }
    }
    .logo-wrapper {
        width: 100%;
        height: calc(100vh - 130px);
        display: flex;
        align-items: center;
        justify-content: center;
        .logo-box {
            width: 320px;
            background: #ffffff;
            padding: 28px 25px;
            .form-group {
                padding-bottom: 10px;
                .form-input {
                    border: 1px solid #D4D4D7;
                    border-radius: 3px;
                    background: #ffffff;
                    outline: none;
                    font-family: $fontpage;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 18px;
                    color: #37353F;
                    padding: 10px 15px;
                    width: 100%;
                    &::placeholder {
                        font-family: $fontpage;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 14px;
                        color: #D4D4D7;
                    }
                }
            }
            .password-wrapper {
                position: relative;
                .showhide {
                    position: absolute;
                    width: 15px;
                    height: 9px;
                    background: url(../img/eye.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    top: calc(50% - 9px);
                    right: 7px;
                    cursor: pointer;
                }
                .errorpassword {
                    position: absolute;
                    opacity: 0;
                    transition: opacity 0.3s ease-in;
                    font-family: $fontpage;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 10px;
                    line-height: 12px;
                    color: #FF4646;
                    bottom: -8px;
                }
                .labelpassword {
                    position: absolute;
                    top: -4px;
                    left: 10px;
                    opacity: 0;
                    font-family: $fontpage;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 8px;
                    line-height: 10px;
                    color: #4A52F7;
                    background-color: #ffffff;
                    padding-left: 5px;
                    padding-right: 20px;
                }
                &.has-error {
                    input {
                        border-color: #FF4646;
                    }
                    .errorpassword {
                        opacity: 1;
                    }
                    .labelpassword {
                        opacity: 1;
                    }
                }
            }
            .btn-submit {
                background: #F26126;
                border-radius: 30px;
                padding: 8px 25px;
                font-family: $Monserat;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                color: #FFFFFF;
                border: none;
                outline: none;
                cursor: pointer;
            }
            .logo-row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 15px;
                padding-bottom: 10px;
                .link,
                .link a {
                    font-family: $fontpage;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 14px;
                    text-decoration-line: underline;
                    color: #4A52F7;
                }
            }
        }
    }
}
.registation-page {
    width: 100%;
    min-height: 100vh;
    background-color: $darkblue;
    font-family: $fontpage;
    padding: 35px 45px;
    .logo {
        width: 100px;
        height: 30px;
        display: none;//template-hidden
        img {
            max-width: 100%;
        }
    }
    .registation-wrapper {
        width: 100%;
        min-height: calc(100vh - 130px);
        display: flex;
        align-items: flex-start;
        padding-top: 100px;
        padding-bottom: 100px;
        justify-content: center;
        .registation-box {
            width: 820px;
            background: #ffffff;
            max-width: 100%;
            .panels-list {
                display: flex;
                align-items: stretch;
                justify-content: flex-start;
                .panel-item {
                    text-align: center;
                    padding: 10px;
                    width: 180px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    text-transform: uppercase;
                    background-color: #563BC2;
                    color: #ffffff;
                    border-top: 1px solid #000;
                    border-bottom: 1px solid #000;
                    border-right: 1px solid #000;
                    cursor: pointer;
                    font-family: $fontpage;
                    font-size: 14px;
                    line-height: 18px;
                    transition: all 0.3s ease-in;
                    &:first-child {
                        border-left: 1px solid #000;
                    }
                    &.active {
                        background-color: #e2e2e2;
                        color: $fontcolor;
                        cursor: auto;
                    }
                }
            }
            .content-wrapper {
                padding: 20px;
                padding-bottom: 50px;
                .header-thanks {
                    font-size: 16px;
                    line-height: 18px;
                    font-family: $fontpage;
                    color: $fontcolor;
                    font-weight: bold;
                    padding-bottom: 15px;
                }
                .thanks-text {
                    font-size: 14px;
                    line-height: 16px;
                    font-family: $fontpage;
                    color: $fontcolor;
                }
                .hidden-block {
                    display: none;
                }
                .error-text {
                    font-family: $fontpage;
                    font-size: 12px;
                    line-height: 14px;
                    padding-top: 5px;
                    width: 100%;
                    color: red;
                }
                .content-list {
                    .content-item {
                        display: none;
                        &.active {
                            display: block;
                        }
                    }
                    .radio-input {
                        padding-top: 10px;
                        padding-bottom: 5px;
                        label {
                            font-family: $fontpage;
                            font-size: 14px;
                            line-height: 16px;
                            color: $fontcolor;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                        }
                        input[type=checkbox],
                        input[type=radio] {
                            display: none;
                            &:checked + label::before {
                                background: $blue;
                            }
                            & + label {
                                cursor: pointer;
                            }
                            & + label::before {
                                content: "";
                                display: inline-block;
                                width: 15px;
                                min-width: 15px;
                                height: 15px;
                                border: 1px solid #C4C4C4;
                                border-radius: 50%;
                                margin-right: 5px;
                                transition: background 0.3s ease-in;
                                cursor: pointer;
                            }
                        }
                    }
                    .input-item {
                        padding-bottom: 20px;
                        .label-col {
                            background: #e2e2e2;
                            font-family: $fontpage;
                            font-size: 14px;
                            line-height: 18px;
                            color: $fontcolor;
                            padding: 10px 15px;
                            text-transform: uppercase;
                            width: 100%;
                            .text-italic {
                                font-style: italic;
                                text-transform: none;
                            }
                        }
                        .input-col {
                            width: 100%;
                            &.has-error {
                                input {
                                    border-color: red !important;
                                }
                            }
                            .input-group {
                                width: 100%;
                                height: 100%;
                                &.flex-30 {
                                    display: flex;
                                    align-items: stretch;
                                    flex-wrap: wrap;
                                    .radio-input {
                                        width: 33.3%;
                                    }
                                }
                                input {
                                    height: 100%;
                                    width: 100%;
                                    border: 1px solid #D4D4D7;
                                    background: #ffffff;
                                    outline: none;
                                    font-family: $fontpage;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 14px;
                                    line-height: 18px;
                                    color: $fontcolor;
                                    padding: 10px 15px;
                                }
                            }
                        }
                    }
                    .input-row {
                        display: flex;
                        align-items: stretch;
                        justify-content: space-between;
                        padding-bottom: 5px;
                        flex-wrap: wrap;
                        .label-col {
                            width: 40%;
                            background: #e2e2e2;
                            font-family: $fontpage;
                            font-size: 14px;
                            line-height: 18px;
                            color: $fontcolor;
                            padding: 10px 15px;
                            text-transform: uppercase;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                        .input-col {
                            width: 60%;
                            &.has-error {
                                input {
                                    border-color: red !important;
                                }
                            }
                            .customselect-wrapper {
                                height: 100%;
                                .select {
                                    height: 100%;
                                }
                                .select-styled {
                                    padding: 10px 15px;
                                    height: 100%;
                                }
                            }
                            .input-group {
                                width: 100%;
                                height: 100%;
                                input {
                                    height: 100%;
                                    width: 100%;
                                    border: 1px solid #D4D4D7;
                                    background: #ffffff;
                                    outline: none;
                                    font-family: $fontpage;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 14px;
                                    line-height: 18px;
                                    color: $fontcolor;
                                    padding: 10px 15px;
                                }
                            }
                        }
                        .birthday-row {
                            display: flex;
                            align-items: stretch;
                            justify-content: space-between;
                            .birthday-col {
                                width: 100%;
                                &:first-child {
                                    &.customselect-wrapper .select-styled {
                                        border-left: 1px solid #D4D4D7;
                                    }
                                }
                                &.customselect-wrapper .select-styled {
                                    border-left: none;
                                }
                            }
                        }
                    }
                }
                .info-text {
                    font-family: $fontpage;
                    font-size: 14px;
                    line-height: 18px;
                    color: $fontcolor;
                    padding-top: 10px;
                    padding-bottom: 5px;
                    font-weight: bold; 
                }
                .section-header {
                    font-family: $fontpage;
                    font-size: 14px;
                    line-height: 18px;
                    color: $fontcolor;
                    padding-top: 10px;
                    padding-bottom: 5px;
                    border-bottom: 1px solid $blue;
                    font-weight: bold;
                }
                .brn-wrapper {
                    padding-top: 20px;
                }
                .btn-default {
                    background: #F26126;
                    border-radius: 30px;
                    padding: 8px 25px;
                    font-family: "Montserrat-Regular";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 18px;
                    color: #FFFFFF;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    display: inline-block;
                }
            }
        }
    }
}
.customselect-wrapper {
    $background: #FEFDFD;
    $select-background: #FEFDFD;
    .checked {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 0.5px solid #D4D4D7;
        border-radius: 50%;
        margin-right: 5px;
        transition: background 0.3s ease-in;
        cursor: pointer;
        vertical-align: top;
        &.active {
            background: #D4D4D7;
        }
    }
    .text {
        display: inline-block;
        max-width: calc(100% - 60px);
    }
    .select-hidden {
        display: none;
        visibility: hidden;
        padding-right: 10px;
    }
    .select {
        cursor: pointer;
        display: inline-block;
        position: relative;
        width: 100%;
    }
    .select-styled {
        transition: all 0.2s ease-in;
        font-family: $fontpage;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        padding: 8px;
        border: 1px solid #D4D4D7;
        width: 100%;
        transition: all 0.3s ease-in;
        padding-right: 20px;
        &:after {
            content:"";
            position: absolute;
            width: 12px;
            height: 7px;
            right: 10px;
            top: calc(50% - 2.5px);
            display: block;
            background: url(./../img/arrow-dropdown.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            transition: all 0.3s ease-in;
        }
        &:hover {
            &:after {
                background: url(./../img/arrow-dropdown-a.svg);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        &:active,
        &.active {
            &:after {
                background: url(./../img/arrow-dropdown-a.svg);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                transform: rotate(180deg);
            }
        }
    }

    .select-options {
        display: none; 
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 999;
        margin: 0;
        padding: 0;
        list-style: none;
        background: #ffffff;
        border-right: 1px solid #EEEFF3;
        border-left: 1px solid #EEEFF3;
        max-height: 175px;
        overflow-y: auto;
        li {
            margin: 0;
            transition: all 0.2s ease-in;
            font-family: $fontpage;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #000000;
            padding: 8px;
            border-bottom: 1px solid #EEEFF3;
            &:hover {
                border-color: $voilet;
            }
            &[rel="hide"] {
            display: none;
            }
        }
    }
}
@media screen and (min-width: 1500px) {
    .login-page .logo-wrapper .logo-box {
        width: 400px;
    }
    .login-page .logo-wrapper .logo-box .password-wrapper .labelpassword {
        font-size: 12px;
        top: -6px;
    }
    .login-page .logo-wrapper .logo-box .password-wrapper .errorpassword {
        font-size: 14px;
    }
    .login-page .logo-wrapper .logo-box .form-group {
        padding-bottom: 15px;
    }
}
@media screen and (max-width: 992px) {
    .registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-row .label-col,
    .customselect-wrapper .select-styled,
    .registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-row .input-col .input-group input,
    .registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-item .label-col {
        font-size: 12px;
        line-height: 16px;
    }
    .registation-page {
        padding-left: 20px;
        padding-right: 20px;
    }
    .registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-row .label-col,
    .registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-item .label-col {
        padding-left: 10px;
        padding-right: 10px;
    }
    .registation-page .registation-wrapper {
        padding-top: 10px;
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 768px) {
    .registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-item .input-col .input-group.flex-30 .radio-input {
        width: 50%;
        &.mobile-width {
            width: 100%;
        }
    }
    .registation-page .registation-wrapper .registation-box .panels-list .panel-item {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
        line-height: 14px;
    }
    .registation-page .registation-wrapper .registation-box .content-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
    .registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-row {
        flex-wrap: wrap;
        padding-top: 10px;
        .label-col {
            width: 100%;
        }
        .input-col {
            width: 100%;
        }
    }
    .login-page{
        padding: 20px 15px;
    }
    .login-page .logo-wrapper .logo-box{
        padding: 15px 15px;
    }
}