@import url("../font/Montserrat/stylesheet.css");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login-page {
  width: 100%;
  min-height: 100vh;
  background-color: #323242;
  font-family: "Roboto", sans-serif;
  padding: 35px 45px;
}

.login-page .logo {
  width: 100px;
  height: 30px;
  display: none;
}

.login-page .logo img {
  max-width: 100%;
}

.login-page .logo-wrapper {
  width: 100%;
  height: calc(100vh - 130px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-page .logo-wrapper .logo-box {
  width: 320px;
  background: #ffffff;
  padding: 28px 25px;
}

.login-page .logo-wrapper .logo-box .form-group {
  padding-bottom: 10px;
}

.login-page .logo-wrapper .logo-box .form-group .form-input {
  border: 1px solid #D4D4D7;
  border-radius: 3px;
  background: #ffffff;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #37353F;
  padding: 10px 15px;
  width: 100%;
}

.login-page .logo-wrapper .logo-box .form-group .form-input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #D4D4D7;
}

.login-page .logo-wrapper .logo-box .form-group .form-input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #D4D4D7;
}

.login-page .logo-wrapper .logo-box .form-group .form-input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #D4D4D7;
}

.login-page .logo-wrapper .logo-box .form-group .form-input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #D4D4D7;
}

.login-page .logo-wrapper .logo-box .form-group .form-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #D4D4D7;
}

.login-page .logo-wrapper .logo-box .password-wrapper {
  position: relative;
}

.login-page .logo-wrapper .logo-box .password-wrapper .showhide {
  position: absolute;
  width: 15px;
  height: 9px;
  background: url(../img/eye.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  top: calc(50% - 9px);
  right: 7px;
  cursor: pointer;
}

.login-page .logo-wrapper .logo-box .password-wrapper .errorpassword {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #FF4646;
  bottom: -8px;
}

.login-page .logo-wrapper .logo-box .password-wrapper .labelpassword {
  position: absolute;
  top: -4px;
  left: 10px;
  opacity: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  color: #4A52F7;
  background-color: #ffffff;
  padding-left: 5px;
  padding-right: 20px;
}

.login-page .logo-wrapper .logo-box .password-wrapper.has-error input {
  border-color: #FF4646;
}

.login-page .logo-wrapper .logo-box .password-wrapper.has-error .errorpassword {
  opacity: 1;
}

.login-page .logo-wrapper .logo-box .password-wrapper.has-error .labelpassword {
  opacity: 1;
}

.login-page .logo-wrapper .logo-box .btn-submit {
  background: #F26126;
  border-radius: 30px;
  padding: 8px 25px;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  border: none;
  outline: none;
  cursor: pointer;
}

.login-page .logo-wrapper .logo-box .logo-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 10px;
}

.login-page .logo-wrapper .logo-box .logo-row .link,
.login-page .logo-wrapper .logo-box .logo-row .link a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #4A52F7;
}

@media screen and (min-width: 1500px) {
  .login-page .logo-wrapper .logo-box {
    width: 400px;
  }
  .login-page .logo-wrapper .logo-box .password-wrapper .labelpassword {
    font-size: 12px;
    top: -6px;
  }
  .login-page .logo-wrapper .logo-box .password-wrapper .errorpassword {
    font-size: 14px;
  }
  .login-page .logo-wrapper .logo-box .form-group {
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .login-page {
    padding: 20px 15px;
  }
  .login-page .logo-wrapper .logo-box {
    padding: 15px 15px;
  }
}
