@import url("../font/Montserrat/stylesheet.css");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px 2px 2px 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #4449DB;
}

.login-page {
  width: 100%;
  min-height: 100vh;
  background-color: #323242;
  font-family: "Roboto", sans-serif;
  padding: 35px 45px;
}

.login-page .logo {
  width: 100px;
  height: 30px;
  display: none;
}

.login-page .logo img {
  max-width: 100%;
}

.login-page .logo-wrapper {
  width: 100%;
  height: calc(100vh - 130px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-page .logo-wrapper .logo-box {
  width: 320px;
  background: #ffffff;
  padding: 28px 25px;
}

.login-page .logo-wrapper .logo-box .form-group {
  padding-bottom: 10px;
}

.login-page .logo-wrapper .logo-box .form-group .form-input {
  border: 1px solid #D4D4D7;
  border-radius: 3px;
  background: #ffffff;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #37353F;
  padding: 10px 15px;
  width: 100%;
}

.login-page .logo-wrapper .logo-box .form-group .form-input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #D4D4D7;
}

.login-page .logo-wrapper .logo-box .form-group .form-input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #D4D4D7;
}

.login-page .logo-wrapper .logo-box .form-group .form-input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #D4D4D7;
}

.login-page .logo-wrapper .logo-box .form-group .form-input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #D4D4D7;
}

.login-page .logo-wrapper .logo-box .form-group .form-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #D4D4D7;
}

.login-page .logo-wrapper .logo-box .password-wrapper {
  position: relative;
}

.login-page .logo-wrapper .logo-box .password-wrapper .showhide {
  position: absolute;
  width: 15px;
  height: 9px;
  background: url(../img/eye.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  top: calc(50% - 9px);
  right: 7px;
  cursor: pointer;
}

.login-page .logo-wrapper .logo-box .password-wrapper .errorpassword {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #FF4646;
  bottom: -8px;
}

.login-page .logo-wrapper .logo-box .password-wrapper .labelpassword {
  position: absolute;
  top: -4px;
  left: 10px;
  opacity: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  color: #4A52F7;
  background-color: #ffffff;
  padding-left: 5px;
  padding-right: 20px;
}

.login-page .logo-wrapper .logo-box .password-wrapper.has-error input {
  border-color: #FF4646;
}

.login-page .logo-wrapper .logo-box .password-wrapper.has-error .errorpassword {
  opacity: 1;
}

.login-page .logo-wrapper .logo-box .password-wrapper.has-error .labelpassword {
  opacity: 1;
}

.login-page .logo-wrapper .logo-box .btn-submit {
  background: #F26126;
  border-radius: 30px;
  padding: 8px 25px;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  border: none;
  outline: none;
  cursor: pointer;
}

.login-page .logo-wrapper .logo-box .logo-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 10px;
}

.login-page .logo-wrapper .logo-box .logo-row .link,
.login-page .logo-wrapper .logo-box .logo-row .link a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #4A52F7;
}

.registation-page {
  width: 100%;
  min-height: 100vh;
  background-color: #323242;
  font-family: "Roboto", sans-serif;
  padding: 35px 45px;
}

.registation-page .logo {
  width: 100px;
  height: 30px;
  display: none;
}

.registation-page .logo img {
  max-width: 100%;
}

.registation-page .registation-wrapper {
  width: 100%;
  min-height: calc(100vh - 130px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.registation-page .registation-wrapper .registation-box {
  width: 820px;
  background: #ffffff;
  max-width: 100%;
}

.registation-page .registation-wrapper .registation-box .panels-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.registation-page .registation-wrapper .registation-box .panels-list .panel-item {
  text-align: center;
  padding: 10px;
  width: 180px;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  background-color: #563BC2;
  color: #ffffff;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.registation-page .registation-wrapper .registation-box .panels-list .panel-item:first-child {
  border-left: 1px solid #000;
}

.registation-page .registation-wrapper .registation-box .panels-list .panel-item.active {
  background-color: #e2e2e2;
  color: #37353F;
  cursor: auto;
}

.registation-page .registation-wrapper .registation-box .content-wrapper {
  padding: 20px;
  padding-bottom: 50px;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .header-thanks {
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", sans-serif;
  color: #37353F;
  font-weight: bold;
  padding-bottom: 15px;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .thanks-text {
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto", sans-serif;
  color: #37353F;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .hidden-block {
  display: none;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .error-text {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  padding-top: 5px;
  width: 100%;
  color: red;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .content-item {
  display: none;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .content-item.active {
  display: block;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .radio-input {
  padding-top: 10px;
  padding-bottom: 5px;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .radio-input label {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #37353F;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .radio-input input[type=checkbox],
.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .radio-input input[type=radio] {
  display: none;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .radio-input input[type=checkbox]:checked + label::before,
.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .radio-input input[type=radio]:checked + label::before {
  background: #4A52F7;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .radio-input input[type=checkbox] + label,
.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .radio-input input[type=radio] + label {
  cursor: pointer;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .radio-input input[type=checkbox] + label::before,
.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .radio-input input[type=radio] + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  min-width: 15px;
  height: 15px;
  border: 1px solid #C4C4C4;
  border-radius: 50%;
  margin-right: 5px;
  -webkit-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
  cursor: pointer;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-item {
  padding-bottom: 20px;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-item .label-col {
  background: #e2e2e2;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #37353F;
  padding: 10px 15px;
  text-transform: uppercase;
  width: 100%;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-item .label-col .text-italic {
  font-style: italic;
  text-transform: none;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-item .input-col {
  width: 100%;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-item .input-col.has-error input {
  border-color: red !important;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-item .input-col .input-group {
  width: 100%;
  height: 100%;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-item .input-col .input-group.flex-30 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-item .input-col .input-group.flex-30 .radio-input {
  width: 33.3%;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-item .input-col .input-group input {
  height: 100%;
  width: 100%;
  border: 1px solid #D4D4D7;
  background: #ffffff;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #37353F;
  padding: 10px 15px;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-row .label-col {
  width: 40%;
  background: #e2e2e2;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #37353F;
  padding: 10px 15px;
  text-transform: uppercase;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-row .input-col {
  width: 60%;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-row .input-col.has-error input {
  border-color: red !important;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-row .input-col .customselect-wrapper {
  height: 100%;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-row .input-col .customselect-wrapper .select {
  height: 100%;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-row .input-col .customselect-wrapper .select-styled {
  padding: 10px 15px;
  height: 100%;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-row .input-col .input-group {
  width: 100%;
  height: 100%;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-row .input-col .input-group input {
  height: 100%;
  width: 100%;
  border: 1px solid #D4D4D7;
  background: #ffffff;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #37353F;
  padding: 10px 15px;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-row .birthday-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-row .birthday-row .birthday-col {
  width: 100%;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-row .birthday-row .birthday-col:first-child.customselect-wrapper .select-styled {
  border-left: 1px solid #D4D4D7;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-row .birthday-row .birthday-col.customselect-wrapper .select-styled {
  border-left: none;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .info-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #37353F;
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .section-header {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #37353F;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #4A52F7;
  font-weight: bold;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .brn-wrapper {
  padding-top: 20px;
}

.registation-page .registation-wrapper .registation-box .content-wrapper .btn-default {
  background: #F26126;
  border-radius: 30px;
  padding: 8px 25px;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
}

.customselect-wrapper .checked {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 0.5px solid #D4D4D7;
  border-radius: 50%;
  margin-right: 5px;
  -webkit-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
  cursor: pointer;
  vertical-align: top;
}

.customselect-wrapper .checked.active {
  background: #D4D4D7;
}

.customselect-wrapper .text {
  display: inline-block;
  max-width: calc(100% - 60px);
}

.customselect-wrapper .select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.customselect-wrapper .select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 100%;
}

.customselect-wrapper .select-styled {
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  padding: 8px;
  border: 1px solid #D4D4D7;
  width: 100%;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding-right: 20px;
}

.customselect-wrapper .select-styled:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 7px;
  right: 10px;
  top: calc(50% - 2.5px);
  display: block;
  background: url(./../img/arrow-dropdown.svg);
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.customselect-wrapper .select-styled:hover:after {
  background: url(./../img/arrow-dropdown-a.svg);
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
}

.customselect-wrapper .select-styled:active:after, .customselect-wrapper .select-styled.active:after {
  background: url(./../img/arrow-dropdown-a.svg);
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.customselect-wrapper .select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #ffffff;
  border-right: 1px solid #EEEFF3;
  border-left: 1px solid #EEEFF3;
  max-height: 175px;
  overflow-y: auto;
}

.customselect-wrapper .select-options li {
  margin: 0;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  padding: 8px;
  border-bottom: 1px solid #EEEFF3;
}

.customselect-wrapper .select-options li:hover {
  border-color: #563BC2;
}

.customselect-wrapper .select-options li[rel="hide"] {
  display: none;
}

@media screen and (min-width: 1500px) {
  .login-page .logo-wrapper .logo-box {
    width: 400px;
  }
  .login-page .logo-wrapper .logo-box .password-wrapper .labelpassword {
    font-size: 12px;
    top: -6px;
  }
  .login-page .logo-wrapper .logo-box .password-wrapper .errorpassword {
    font-size: 14px;
  }
  .login-page .logo-wrapper .logo-box .form-group {
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 992px) {
  .registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-row .label-col,
  .customselect-wrapper .select-styled,
  .registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-row .input-col .input-group input,
  .registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-item .label-col {
    font-size: 12px;
    line-height: 16px;
  }
  .registation-page {
    padding-left: 20px;
    padding-right: 20px;
  }
  .registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-row .label-col,
  .registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-item .label-col {
    padding-left: 10px;
    padding-right: 10px;
  }
  .registation-page .registation-wrapper {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-item .input-col .input-group.flex-30 .radio-input {
    width: 50%;
  }
  .registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-item .input-col .input-group.flex-30 .radio-input.mobile-width {
    width: 100%;
  }
  .registation-page .registation-wrapper .registation-box .panels-list .panel-item {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    line-height: 14px;
  }
  .registation-page .registation-wrapper .registation-box .content-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-top: 10px;
  }
  .registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-row .label-col {
    width: 100%;
  }
  .registation-page .registation-wrapper .registation-box .content-wrapper .content-list .input-row .input-col {
    width: 100%;
  }
  .login-page {
    padding: 20px 15px;
  }
  .login-page .logo-wrapper .logo-box {
    padding: 15px 15px;
  }
}
